.btn-primary {
    background-color: #646cff;
    color: #ffffff;
    border: none;
}

.btn-primary:not(:first-child) {
    margin-left: 0.5rem;
}

.btn-primary:hover {
    background-color: #4b3db7;
}

.btn-primary:active {
    background-color: #2e1f7f;
}

.panel-frame {
    padding: 2rem;
    border: 0.5rem solid #ffffff;
    border-radius: 25px;
    min-width: 80%;
    min-height: 20%;
}

.row {
    margin-bottom: 1rem;
}

.text-logo {
    text-align: center;
    cursor: pointer;
}

.text-logo:hover {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}